.p4{
    position: absolute;
    top: 2501px;
    margin-left: -8px;
    display: grid;
    grid-template-columns: 10fr 10fr;
    height: 900px;
    width: 1450px;
}
#p4t1{
    background-repeat: no-repeat;
}
#p4h{
    position: absolute;
    top: 200px;
    margin-left: 50px;
    font-size: 6rem;
    color: #4a7163;
}
#p4p{
    position: absolute;
    top: 500px;
    margin-left: 60px;
    font-size: 1.2rem;
    color: #4a7163;
}
#p4but{
    position: absolute;
    top: 620px;
    margin-left: 60px;
    color: #4a7163;
    height: 40px;
    width: 200px;
    font-size: 1.3rem;
    background-color: #ebd0cf;
    border-color:#4a7163;
    border-width: 5px;
}
@media(max-width:500px){
    #p4t1{
        position: absolute;
        top: -600px;
        margin-left: -8px;
        display: grid;
        grid-template-columns: 10fr 10fr;
        height: 300px;
        width: 230px;
    }
}
@media(max-width:500px){
    #p4h{
        position: absolute;
        top: -550px;
        margin-left: 250px;
        font-size: 1.5rem;
        color: #4a7163;
    }
}
@media(max-width:500px){
    #p4p{
        position: absolute;
        top: -480px;
        margin-left: 250px;
        width: 100px;
        font-size: .6rem;
        color: #4a7163;
    }
}
@media(max-width:500px){
    .p4{
        position: absolute;
        top: 2501px;
        margin-left: -8px;
        display: grid;
        grid-template-columns: 10fr 10fr;
        height: 900px;
        width: 300px;
    }
}
@media(max-width:500px){
    #p4but{
        position: absolute;
        top: -360px;
        margin-left: 240px;
        color: #4a7163;
        height: 30px;
        width: 120px;
        font-size: .6rem;
        background-color: #ebd0cf;
        border-color:#4a7163;
        border-width: 5px;
    }
}